{% load staticfiles %}
<title> About | 100 Stories </title>
<link rel="stylesheet" href="{% static 'stories/reset.css' %}" />
<link rel="stylesheet" href="{% static 'stories/style.css' %}" />
<link rel="stylesheet" href="{% static 'stories/pages.css' %}" />

<ul class="nav">
  <li>100 Stories</li>
  <li><a href="{% url 'index' %}">Read</a></li>
  <li><a href="{% url 'write' %}">Write</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
</ul>

<div id="content">
  <h1> About 100 Stories </h1>
  <p>
    This project has a simple goal. Collect 100 personal, honest, and creative stories from people with various perspectives and share them with the world.
    Anyone can write a story, and the author remains unnamed.
  </p>
  <p>
    Free-writing is encouraged. No need to edit or hold back when you write here. All sorts of writings are encouraged. Narratives, fiction, and rants are all encouraged.
    Unpopular, contraversial, and offensive opinions could appear here. That is a part of the project. But damaging, threatening, or illegal writings will not be tolerated.
    This project is meant to share ideas, not to harm or harass.
  </p>
  <h2>Basic Rules</h2>
  <ul class="rules">
    <li>No personally identifiable information</li>
    <li>No links/spam/self promotion</li>
    <li>No threats to harm others</li>
    <li>Nothing that could be considered illegal</li>
    <li>No plagarism or copyrighted material</li>
    <li>Admins can remove a story without warning for any reason (We will use this power sparingly, and only when absolutely necessary)</li>
  </ul>
</div>
<div id="footer">
  <a target="_blank" href="http://www.wastevensv.com/">100 Stories was created by William A Stevens V</a>
</div>
