<title>{{story.title }} | 100 Stories</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'stories/reset.css' %}" />
<link rel="stylesheet" href="{% static 'stories/style.css' %}" />
<link rel="stylesheet" href="{% static 'stories/pages.css' %}" />
<script src="{% static 'stories/marked.min.js'%}"></script>

<script>
  function formatOut() {
    var mdText = document.getElementById("mdcontent").innerHTML
    output  = ""
    output += marked(mdText)
    document.getElementById('mdcontent').innerHTML = output;
  }
</script>

<ul class="nav">
  <li>100 Stories</li>
  <li><a href="{% url 'index' %}">Read</a></li>
  <li><a href="{% url 'write' %}">Write</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
</ul>

<div id="content">
  <h1>{{ story.title }}</h1>
  <div id="mdcontent">
    {{ story.text }}
  </div>
  <br/>
  <div>
    <div class="floatright" id="timestamp">
      {{story.pub_date }} <br/>
    </div>
    <div id="report">
      Is this story spam, illegal, or threatening? <br/>
      Please report it to: <a href="mailto:reportstory@wastevensv.com">reportstory@wastevensv.com</a>.<br/>
      Please include a link to the story and a brief explanation of why it should be removed.<br/>
    </div>
  </div>
</div>
<div id="footer">
  <a target="_blank" href="http://www.wastevensv.com/">100 Stories was created by William A Stevens V</a>
</div>
