{% load staticfiles %}
<title> Recent Stories | 100 Stories </title>
<link rel="stylesheet" href="{% static 'stories/reset.css' %}" />
<link rel="stylesheet" href="{% static 'stories/style.css' %}" />
<link rel="stylesheet" href="{% static 'stories/pages.css' %}" />

<ul class="nav">
  <li>100 Stories</li>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'write' %}">Write</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
</ul>

<div id="content">
  <h1>Recent Stories</h1>

  {% if recent_story_list %}
    <ul class="list">
    {% for story in recent_story_list %}
      <li><a href="{% url 'detail' story.id %}">
        {{ story.title }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No stories yet.</p>
  {% endif %}
</div>
<div id="footer">
  <a target="_blank" href="http://www.wastevensv.com/">100 Stories was created by William A Stevens V</a>
</div>
